.content {
    width: 760px;
    position: relative; // *
    background: $COLOR_WHITE; // *
    &__wrapper {
        max-width: 616px;
        margin-right: 52px; // 0 auto
        margin-left: auto; 
    }
}