.customize {
    padding: 16px 0;
    display: grid;
    border-bottom: 1px solid $COLOR_LIGHTGRAY;
    grid-template: minmax(64px, auto) minmax(96px, auto) / 161px 195px 92px;
    &__color-wrapper {
        display: flex;
        margin-top: 8px;
    }
    &__color-item {
        width: 32px;
        height: 32px;
        border: 1px solid #fff;
        border-radius: 100%;
        padding: 3px;
        &:not(:first-child) {
            margin-left: 6px;
        }
        &:hover {
            border: 1px solid $COLOR_GRAY;
        }
        &_active {
            border: 1px solid $COLOR_VIO;
            &:hover {
                border: 1px solid $COLOR_VIO;
            }
        }
    }
    &__color-subitem {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        &_color-vio {
            background-color: $COLOR_VIO;
        }
        &_color-gray {
            background-color: $COLOR_GRAY;
        }
        &_color-lightBlue {
            background-color: $COLOR_LIGHTBLUE;
        }
    }
    &__size-list {
        display: flex;
        margin-top: 8px;
    }
    &__size-item {
        width: 32px;
        height: 32px;
        border: 1px solid $COLOR_WHITE;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:first-child) {
            margin-left: 3px;
        }
        &:hover {
            border: 1px solid $COLOR_GRAY;
        }
        &_no-product:hover {
            border: 1px solid $COLOR_WHITE;
        }
        &_active {
            border: 1px solid $COLOR_VIO;
            &:hover {
                border: 1px solid $COLOR_VIO;
            }
        }
    }
    &__size-subitem {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: $COLOR_GRAY;
        &_no-product {
            color: $COLOR_LIGHTGRAY;
        }
        &_active {
            font-size: 20px;
            color: $COLOR_VIO;
        }
    }
    &__size-guide {
        align-self: end;
        display: inline-block;
        width: 92px;
        height: 28px;
        margin-bottom: 3px;
        border: 1px solid $COLOR_SANDY;
        border-radius: 24px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        color: $COLOR_SANDY;
        &:hover {
            color: $COLOR_SANDY;
        }
    }
    &__quantity {
        align-self: end;
    }
    &__quantity-wrapper {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }
    &__quantity-minus, &__quantity-plus {
        width: 28px;
        height: 28px;
        border-radius: 100%;
        position: relative;
        &:hover {
            border: 1px solid $COLOR_LIGHTGRAY;
        }
        &::before {
            content: '';
            width: 10px;
            height: 1.5px;
            background: #192B3F;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__quantity-plus::after {
        content: '';
        width: 1.5px;
        height: 10px;
        background: #192B3F;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__quantity-number {
        font-size: 24px;
        line-height: 1;
        font-weight: 500;
        color: $COLOR_GRAY;
        margin: 0 13px;
    }
    &__cost {
        align-self: end
    }
    &__cost-wrapper {
        display: flex;
        height: 40px;
        align-items: flex-end;
    }
    &__cost-dollar, &__cost-symbol-dollar {
        font-size: 40px;
        line-height: 32px;
        font-weight: 500;
        color: $COLOR_SANDY;
    }
    &__cost-cent {
        font-size: 28px;
        line-height: 26px;
        font-weight: 500;
        color: $COLOR_GRAY;
    }
}   