@import 'libs/_bootstrap-reboot';
@import 'libs/_fonts';

@import 'base/_variables';
@import 'base/_mixins';

body {
    background-color: black;
}

* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

h1,h2,p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1360px;
    height: 100vh;
    margin: 0 auto;
}
@import 'blocks/_generalWrapper';
@import 'blocks/_slider';
@import 'blocks/_content';
@import 'blocks/_title';
@import 'blocks/_btn';
@import 'blocks/_description';
@import 'blocks/_collection';
@import '_media';